* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

body {
  background: whitesmoke;
}

#admin-main {
  margin-top: $navbar-height;
  margin-left: $side-nav-width;
  width: calc(100vw - #{$side-nav-width});
}
