$primary-color: white;
$secondary-color: black;

// breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 992px;

$navbar-height: 58px;

// Colors
$red-gradient-1: rgb(190, 8, 84);
$better-grey: #495057;
